html {
  background: #130f0d;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #FFFFFF;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.field {
  width: 100px;
  height: 100px;
  border: 5px solid #fd951f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first-field {
  border-top: 5px transparent;
  border-left: 5px transparent;
}

.second-field {
  border-top: 5px transparent;
}

.third-field {
  border-top: 5px transparent;
  border-right: 5px transparent;
}

.fourth-field {
  border-left: 5px transparent;
}

.sixth-field {
  border-right: 5px transparent;
}

.seventh-field {
  border-left: 5px transparent;
  border-bottom: 5px transparent;
}

.eighth-field {
  border-bottom: 5px transparent;
}

.ninth-field {
  border-right: 5px transparent;
  border-bottom: 5px transparent;
}

.hidden {
  visibility: hidden;
}

.circle {
  width: 45px;
  height: 45px;
  border: 12px solid white;
  border-radius: 50px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.x {
  width: 60px;
  fill: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.user-infos {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

.turns {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.turn-indicator {
  position: fixed;
  width: 80px;
  height: 10px;
  -webkit-transform: translate3d(49px, -70px, 0);
          transform: translate3d(49px, -70px, 0);
  background-color: #fd951f;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.change {
  -webkit-transform: translate3d(167px, -70px, 0);
          transform: translate3d(167px, -70px, 0);
}

.restart-button {
  width: 150px;
  height: 30px;
  margin-top: 50px;
  border: 0;
  background: #fd951f;
  color: #FFFFFF;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

.scoreboard {
  float: left;
  width: 5px;
  font-size: 50px;
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
}
/*# sourceMappingURL=styles.css.map */